.DeparElemForm{

    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 58px;
    width: 40%;


}
.input{
    margin-top: 50px;

}


.DeparElemForm h2{

    margin-bottom: 20px;
    color: #09282F;
}


