.Munici__component--big {
    height: 902px;
    background-repeat: no-repeat;
  background-size: cover;
    background-color: rgba(9, 40, 47, 0.78);;
}

.Munici__component--box {
    padding-top: 320px;
    color: white;
    display: flex;
    background-size: cover;

}

.Munici__component--title {
    font-family: Jost;
    font-style: normal;
    font-weight: 600;
    font-size: 97px;
    line-height: 89.5%;
}

.Munici__component--des {
    font-family: Jost;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-top: 30px;
    width: 70%;
    box-sizing: border-box;
}

.Munici__component--info {
    padding-left: 60px;
}

.Munici__component--status{
    display: flex;
    flex-direction: row;
    align-items:center;
font-size: 21px;
margin-top: 10px;

}

.Munici__component--text{
    margin-left: 10px;
}
