.container{
    display: flex;
    margin-top: 89px;
}

.container--details{

    width: 70%;

}

.container--details--text{
    padding: 120px;
    padding-top: 90%;
    box-sizing: border-box;
    color: #09282F;
    font-family: Sansation;
    font-style: italic;
    font-size: 18px;
    line-height: 29px;

}

.container--title{
    color:#09282F ;
    margin: 0px;
    text-align: center;
}

