@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.link{
    color: white;
    padding-right: 40px;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}

.link:hover{
    color: rgba(255, 231, 102, 0.67);


}

.link--active{

    color: #FFE766;
    font-weight: bold;


    
}